.jumbotron {
  text-align: center;
  padding-bottom: 50px;
}

.nav {
  padding-right: 50px;
}

img {
  width: 100%;
  height: inherit;
}

.item {
  height: 400px;
}

.center {
  text-align: center;
}

.sidebar {
  border-left: 1px solid black;
}

.main {
  margin-right: 8px;
}

.upperPadding {
  padding-top: 90px;
}
