.jumbotron {
  text-align: center;
  padding-bottom: 50px;
}

.nav {
  padding-right: 50px;
}

img {
  width: 100%;
  height: 400px;
  max-height: 400px;
}

.item {

}

.center {
  text-align: center;
}

.sidebar {
  border-left: 1px solid black;
}

.main {
  margin-right: 8px;
}

.upperPadding {
  padding-top: 90px;
}

.glyphicon-send {
  font-size: 60px;
  color: green;
}

.carousel-indicators {
  bottom: 0;
}

.carousel-indicators .active {
  background-color: green;
}

.carousel-indicators li {
  border-color: green;
}
